<section class="page-wrapper">
  <div class="form-wrapper tui-form" [formGroup]="authorForm">
    <label [tuiLabel]="'Имя'" class="tui-form__row">
      <tui-input formControlName="firstname"
                 tuiTextfieldSize="s"
                 [tuiTextfieldCleaner]="true"
                 [pseudoFocus]="getError(authorForm.controls.firstname)"
      >
        Введите имя
        <input
          tuiTextfield
          type="email"
        />
      </tui-input>
    </label>
    <label [tuiLabel]="'Фамилия'" class="tui-form__row">
      <tui-input formControlName="lastname"
                 tuiTextfieldSize="s"
                 [tuiTextfieldCleaner]="true"
                 [pseudoFocus]="getError(authorForm.controls.lastname)"
      >
        Введите фамилию
        <input
          tuiTextfield
          type="email"
        />
      </tui-input>
    </label>
    <label [tuiLabel]="'Отчество'" class="tui-form__row">
      <tui-input formControlName="surname"
                 tuiTextfieldSize="s"
                 [tuiTextfieldCleaner]="true"
                 [pseudoFocus]="getError(authorForm.controls.surname)"
      >
        Введите отчество
        <input
          tuiTextfield
          type="email"
        />
      </tui-input>
    </label>
    <label [tuiLabel]="'Дата рождения'" class="tui-form__row">

      <tui-input-date
        formControlName="dateOfBirth"
        tuiUnfinishedValidator="Закончите заполнение поля"
        tuiTextfieldSize="s"
      >
        Выберите дату
      </tui-input-date>
    </label>
    <div class="tui-form__row tui-form__buttons tui-form__buttons_align_center">
      <button
        tuiButton
        tuiTextfieldSize="s"
        type="button"
        size="s"
        class="tui-form__button"
        [appearance]="'primary'"
        (click)="addAuthor()"
      >
        Добавить автора
      </button>
    </div>
  </div>
  <div class="table-wrapper">

    <table
      tuiTable
      class="table"
      [columns]="columns"
    >
      <thead>
      <tr >
        <th tuiTh [colSpan]="columns.length">
          Авторы
        </th>
      </tr>
      <tr >
        <ng-container *ngFor="let column of tableColumns">
          <th tuiTh>
            {{column.label}}
          </th>
        </ng-container>
      </tr>
      </thead>
      <tbody
        tuiTbody
        *ngIf="authors.length"
        [data]="authors"
      >
      <tr tuiTr *ngFor="let author of authors">
        <ng-container *ngFor="let cell of tableColumns">
          <td tuiTd>
            {{ author?.[cell.id] }}
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>

  </div>
</section>
